<!DOCTYPE html>
<html lang="en">
<!--Header section, nothing too crazy here-->
<head>
    <meta charset="UTF-8">
    <!--Logo will probably go here, once we have one-->
    <!--Logo and title will need to link to homepage once the page directory is finalized-->
    <title>Home Page</title>
</head>
<!--dropdown menu will go here once I copy what Thomas does-->
<body>
<!--Title of page-->
    <h1 id="title">
        <b>App Name</b>
    </h1>

    <h3 id="subtitle">
        <b>Sign Up</b>
    </h3>
    
<!--Icons inside this div, to be split further-->
   <div id="icons" class="closed">
        <!--Image icons inside this div-->
		<div class="icon-images">
			
            <div class="icon1">
            <img id="movie" src="static/icons/movie-play-icon.svg" alt="A clapperboard"/>
            </div>
            <div class="icon1">
            <img id="tv" src="static/icons/television-icon.svg" alt="A television"/>
            </div>
            <div class="icon1">
            <img id="book" src="static/icons/book-open-icon.svg" alt="A book"/>
            </div>
            <div class="icon1">
            <img id="music" src="static/icons/music-box-multiple-icon.svg" alt="A music note in a box"/>
			</div>
		</div>
        <!--Text icons inside this div-->
        <div class="icon-text">
            <div class="icon">Track your progress</div>
            <div class="icon">Write reviews on the things you love (or hate) the most</div>
            <div class="icon">Rate on a 10-star scale (with halves)</div>
            <div class="icon">See what others are up to</div>
        </div>
	</div>
 
</body>
</html>