<!DOCTYPE html>
<html lang="en">
<!--Header section, nothing too crazy here-->
<head>
    <meta charset="UTF-8">
    <!--Logo will probably go here, once we have one-->
    <!--Logo and title will need to link to homepage once the page directory is finalized-->
    <title>Home Page</title>
</head>
<!--dropdown menu will go here once I copy what Thomas does-->
<body>
<!--Title of page-->
    <h1 id="title">
        <b>App Name</b>
    </h1>

    <h3 id="subtitle">
        <b>Sign Up</b>
    </h3>
    
    <div id="icons" class="closed">
		<div class="iconImages">
			
            <img id="star" src="static/icons/movie-play-icon.svg" alt="A clapperboard" width="500" height="500"/>
            <img id="star" src="static/icons/television-icon.svg" alt="A clapperboard" width="500" height="500"/>
            <img id="star" src="static/icons/book-open-icon.svg" alt="A clapperboard" width="500" height="500"/>
            <img id="star" src="static/icons/music-box-multiple-icon.svg" alt="A clapperboard" width="500" height="500"/>
			
		</div>
        <div class="iconText">
            
            <p>Track your progress</p>
            <p>Rate on a 10 star scale (with halves)</p>
            <p>Write reviews on the things you love (or hate) the most</p>
            <p>See what others are up to</p>
            
        </div>
	</div>
 
</body>
</html>