<!DOCTYPE html>
<html lang="en">
<!--Header section, nothing too crazy here-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteReview</title>
    <link rel="stylesheet" href="../static/CSS/homepage.css">
</head>

<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="../static/icons/burn-elmo.gif" alt="Logo">
                <b class="webname">Website Name</b>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
        </div>
    </header>
    
    <div class = "forms">
        <div class = "form">
            <h2 id="subtitle1" class="subtitle">
                <b> Sign Up</b><br><br>
            </h2>
            <form method="post">
                <input type="text" placeholder="Email"><br><br>
                <input type="text" placeholder="Username"><br><br>
                <input type="text" placeholder="Password"><br><br>
                <input type="text" placeholder="Confirm Password"><br><br>
                <br>
        
                <input type="submit" class="signin-btn" value="Create Account">
            </form>
        </div>
        
        <div class = "form">
            <h2 id="subtitle2" class="subtitle">
                <b> Log In</b><br><br>
            </h2>
            <form method="post">
                <input type="text" placeholder="Email"><br><br>
                <input type="text" placeholder="Password"><br><br>
                    <br>
        
                    <input type="submit" class="login-btn" value="Log In"/>
                
                    <br>
            </form>
        </div>
    </div>
    <div class="circle-button" id="circle-Button" onclick="alert('Create review form here')">+</div>
</body>
</html>