<!DOCTYPE html>
<html>
<head>
    <!-- Portions of this code have been provided by W3 https://www.w3schools.com/howto/howto_css_modals.asp-->
    <meta charset="UTF-8">
    <title>StatReview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/StatReview.css">
</head>
<body>

<h2>Basic Modal Code</h2>

<button id="myBtn">Create Review</button>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="input-group">
            <br>
            <p>Title:</p>
            <input type="text" id="titleInput">
        </div>
        <div class="input-group">
            <p>Author:</p>
            <input type="text" id="titleInput">
        </div>
        <div class="input-group">
            <p>Media Type:</p>
            <select id="mediaTypeSelect">
                <option value="movie">Movie</option>
                <option value="tvShow">TV Show</option>
                <option value="book">Book</option>
                <option value="vidGame">Video Game</option>
                <option value="manga">Manga</option>
                <option value="anime">Anime</option>
            </select>
        </div>
        <div class="input-group">
            <p>Completion:</p>
            <select id="mediaTypeSelect">
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
                <option value="Dropped">Dropped</option>
            </select>
        </div>
        <div class="input-group">
            <p>Rating:</p>
            <input type="text" id="titleInput">
        </div>
        <div class="input-group">
            <p>Review:</p>
            <textarea id="reviewTextarea" rows="20"></textarea>
        </div>
        <br>
        <button id="submitReviewBtn">Submit Review</button>
        <button id="cancelBtn">Cancel</button>
    </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var cancelBtn = document.getElementById("cancelBtn");

    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    cancelBtn.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>
