<!DOCTYPE html>
<html>
<head>
    <!-- Portions of this code have been provided by W3 https://www.w3schools.com/howto/howto_css_modals.asp-->
    <title>My Account Modal Code</title>
    <meta charset="UTF-8">
    <title>StatAccount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/CSS/review_modal.css">
</head>
<body>

<h2>My Account Modal Code</h2>

<button id="myBtn">My Account</button>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="input-group">
            <p>New Username</p>
            <input type="text" id="newUsr">
        </div>
        <hr>
        <div class="input-group">
            <p>New Email</p>
            <input type="text" id="newEmail">
        </div>
        <div class="input-group">
            <p>Confirm Email</p>
            <input type="text" id="ConfirmEmail">
        </div>
        <hr>
        <div class="input-group">
            <p>Old Password</p>
            <input type="text" id="newPasswd">
        </div>
        <div class="input-group">
            <p>New Password</p>
            <input type="text" id="confirmPasswd">
        </div>
        <br>
        <div id="button-section">
            <button id="deleteAcc">Delete Account</button>
            <button id="applyChange">Apply Changes</button>
            <button class="close" id="cancelBtn">Cancel</button>
        </div>
    </div>

</div>


<script src="../static/JavaScript/temp_review_modal.js"></script>

</body>
</html>