<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteReview</title>
    <link rel="icon" type="image" href="../static/icons/lite-logo.png">
    <link rel="stylesheet" href="../static/CSS/userpage.css">
    <link rel="stylesheet" href="../static/CSS/modals.css">

</head>
<body>
<header>
    <div class="top-bar">
        <a href="http://127.0.0.1:8000/" class="logo">
            <img src="../static/icons/lite-logo.png" alt="Logo">
            <b class="webname">LiteReview</b>
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </div>
        {% if request.user.is_authenticated %}
            <div class="user">
                <button id="account-button" onclick="open_my_account_modal()">My Account</button>
                <a href="logout">
                    <button>Logout</button>
                </a>
            </div>
        {% endif %}
        {% if request.user.is_authenticated == False %}
            <div class="user">
                <a href="signup-login">
                    <button class="login-btn">Login / Sign Up</button>
                </a>
            </div>
        {% endif %}
    </div>
</header>

<div class="user-bar">
    <b class="username">{{ username }}</b>
    <div class="actions">
        <button class="filter-btn">Filter</button>
        <button class="sort-btn">Sort</button>
    </div>
</div>

<hr>
<div class="review-section">
    <!-- Reviews will be in same style and will be shown based on user page -->
    {% for rev in review_list %}
        <div class="review-details">
            <div class="title-creator">
                <h2>{{ rev.review.title }}</h2>
                <p>{{ rev.review.author }}</p>
            </div>
            <img class="media-icon" src="{{ rev.media_type_icon }}" alt="Media Type">
            <span class="media-type {% if rev.media_type == 'Comic/Graphic Novel' %} comic-type {% endif %}">{{ rev.media_type }}</span>
            <img class="star-icon" src="../static/icons/md_star.png" alt="Star Rating">
            <span class="rating">{{ rev.review.rating }} / 10</span>
            <div>Status: {{ rev.review.status }}</div>
            <div>{{ rev.review.datetime.date }}</div>
            <div>
                <button class="expand-button">Expand Review</button>
            </div>
            <div class="edit-delete-btns">
                <img onclick="alert('Edit review')" src="../static/icons/edit.png" alt="Edit button">
                <img onclick="alert('Delete review')" src="../static/icons/delete.png" alt="Delete button">
            </div>
        </div>
        <div class="expanded-review">
            <p>{{ rev.review.text }}</p>
        </div>
    {% endfor %}
</div>

<div id="account-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="input-group">
            <p>New Username</p>
            <input type="text" id="newUsr">
        </div>
        <hr>
        <div class="input-group">
            <p>New Email</p>
            <input type="text" id="newEmail">
        </div>
        <div class="input-group">
            <p>Confirm Email</p>
            <input type="text" id="ConfirmEmail">
        </div>
        <hr>
        <div class="input-group">
            <p>Old Password</p>
            <input type="text" id="newPasswd">
        </div>
        <div class="input-group">
            <p>New Password</p>
            <input type="text" id="confirmPasswd">
        </div>
        <br>
        <div class="button-section">
            <button id="deleteAcc" class="modal-button">Delete Account</button>
            <button id="applyChange" class="modal-button">Apply Changes</button>
            <button class="close modal-button" id="accountCancelBtn">Cancel</button>
        </div>
    </div>
</div>

<!--Only shows create review modal if user is authenticated.
I am immensely surprised how simple that worked.-->
{% if request.user.is_authenticated %}
    <button class="circle-button" onclick="open_create_review_modal()" id="circle-Button">+</button>
{% endif %}

<div id="review-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form method="post">
            {% csrf_token %}
            {% for field in review_form %}
            <div class="field-wrapper">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if 'create-review-rating' in field.field.widget.attrs.class %}
                    <span id="rating-denominator">/ 10</span>
                    <img id="star" src="static/icons/md_star.png" alt="A white star"/>
                {% endif %}
            </div>
            {% endfor %}
            <br>
            <div class="button-section">
                <input name="create-review-submit" type="submit" id="submitReviewBtn" class="modal-button" value="Create Review"/>
                <button class="close modal-button" id="reviewCancelBtn">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script src="../static/JavaScript/modals.js"></script>
<script src="../static/JavaScript/ex_co_reviews.js"></script>
</body>
</html>
