<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteReview</title>
    <link rel="stylesheet" href="../static/CSS/userpage.css">
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <img src="../static/icons/burn-elmo.gif" alt="Logo">
                <b class="webname">Website Name</b>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
            <div class="user">
                <a href="signup-login">
                <button class="login-btn">Login / Sign Up</button>
                </a>
            </div>
        </div>
    </header>

    <main>
    </main>

    <div class="user-bar">
        <b>Username</b>
        <div class="actions">
            <button class="filter-btn">Filter</button>
            <button class="sort-btn">Sort</button>
        </div>
    </div>

    <hr>
<div class="review-section">
    <!-- Reviews will be in same style and will be shown based on user page -->
    <div class="review-container">
        <div class="review-details">
            <h3>Title of Review</h3>
            <div class="info-bar">
                <div>Creator(s) of work</div>
                <div><img class="media-type" src="../static/icons/burn-elmo.gif" alt="Media Type" style="width: 20px; height: auto;">Media Type</div>
                <div>Date of Review</div>
                <div>Status: Complete</div>
                <div>
                    <img src="../static/icons/md_star.png" alt="Star Rating" style="width: 20px; height: auto;">
                    <span>8/10</span>
                </div>
                <div><button class="expand-button">Expand Review</button></div>
            </div>
        </div>
    </div>
</div>

    <div class="circle-button" id="circle-Button" onclick="alert('Create review form here')">+</div>
</body>
</html>
