<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiteReview</title>
    <link rel="icon" type="image" href="../static/icons/lite-logo.png">
    <link rel="stylesheet" href="../static/CSS/userpage.css">
    <link rel="stylesheet" href="../static/CSS/review_modal.css">

</head>
<body>
<header>
    <div class="top-bar">
        <a href="http://127.0.0.1:8000/" class="logo">
            <img src="../static/icons/lite-logo.png" alt="Logo">
            <b class="webname">LiteReview</b>
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </div>
        <div class="user">
            <button id="account-button" onclick="open_my_account_modal()">My Account</button>
            <a href="logout"><button>Logout</button></a>
            <a href="signup-login">
                <button class="login-btn">Login / Sign Up</button>
            </a>
        </div>
    </div>
</header>

<div class="user-bar">
    <b class="username">{{ rev.username }}</b>
    <div class="actions">
        <button class="filter-btn">Filter</button>
        <button class="sort-btn">Sort</button>
    </div>
</div>

<hr>
<div class="review-section">
    <!-- Reviews will be in same style and will be shown based on user page -->
    {% for rev in review_list %}   
        <div class="review-container">
            <div class="review-details">
                <div class="title-creator">
                    <h3>{{ rev.title }}</h3>
                    <div>{{ rev.author }}</div>
                </div>
                <div>
                    <img class="media-type" src="{{ rev.media_type_icon }}" alt="Media Type" style="width: 20px; height: auto;">
                    {{ rev.media_type }}
                </div>
                <div>{{ rev.datetime }}</div>
                <div>Status: {{ rev.status }}</div>
                <div>
                    <img class="review-star" src="../static/icons/md_star.png" alt="Star Rating">
                    <span>{{ rev.rating }} /10</span>
                </div>
                <div>
                    <button class="expand-button">Expand Review</button>
                </div>
                <div class="edit-delete-btns">
                    <div class="edit-button" onclick="alert('Edit review')">
                        <img class="media-type" src="../static/icons/edit.png" alt="Media Type">
                    </div>
                    <div class="delete-button" onclick="alert('replace me with deleting the review')">
                        <img class="media-type" src="../static/icons/delete.png" alt="Media Type">
                    </div>
                </div>
            </div>
        </div>
        <div class="expanded-review">
            <p>{{ rev.text }}</p>
        </div>
    {% endfor %}
</div>

<div id="account-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="input-group">
            <p>New Username</p>
            <input type="text" id="newUsr">
        </div>
        <hr>
        <div class="input-group">
            <p>New Email</p>
            <input type="text" id="newEmail">
        </div>
        <div class="input-group">
            <p>Confirm Email</p>
            <input type="text" id="ConfirmEmail">
        </div>
        <hr>
        <div class="input-group">
            <p>Old Password</p>
            <input type="text" id="newPasswd">
        </div>
        <div class="input-group">
            <p>New Password</p>
            <input type="text" id="confirmPasswd">
        </div>
        <br>
        <div id="button-section-account">
            <button id="deleteAcc">Delete Account</button>
            <button id="applyChange">Apply Changes</button>
            <button class="close" id="accountCancelBtn">Cancel</button>
        </div>
    </div>
</div>

<!--Only shows create review modal if user is authenticated.
I am immensely surprised how simple that worked.-->
{% if request.user.is_authenticated %}
    <button class="circle-button" onclick="open_create_review_modal()" id="circle-Button">+</button>
{% endif %}

<div id="review-modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="input-group">
            <p>Title</p>
            <input type="text" id="titleInput">
        </div>
        <div class="input-group">
            <p>Creator</p>
            <input type="text" id="authorInput">
        </div>
        <div class="input-group">
            <p>Media Type</p>
            <select id="mediaTypeSelect">
                <option value="movie">Movie</option>
                <option value="tvShow">TV Show</option>
                <option value="book">Book</option>
                <option value="comicBook">Comic Book</option>
                <option value="manga">Manga</option>
                <option value="music">Music</option>
            </select>
        </div>
        <div class="input-group">
            <p>Status</p>
            <select id="completionSelect">
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
                <option value="Dropped">Dropped</option>
            </select>
        </div>
        <div class="input-group">
            <p>Rating (Optional)</p>
            <div id="rating-container">
                <input type="text" id="ratingInput">
                <span id="rating-denominator">/ 10</span>
                <img id="star" src="static/icons/md_star.png" alt="A white star"/>
            </div>
        </div>
        <div class="input-group">
            <p>Review (Optional)</p>
            <textarea id="reviewTextarea" rows="20"></textarea>
        </div>
        <br>
        <div id="button-section-review">
            <button id="submitReviewBtn">Create Review</button>
            <button class="close" id="reviewCancelBtn">Cancel</button>
        </div>
    </div>
</div>

<script src="../static/JavaScript/review_modal.js"></script>
</body>
</html>
