/* CSS changes for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0);
    background-color: rgba(0 0 0 / 40%);
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-flow: column;
    background-color: rgb(0 64 119);
    margin: auto;
    padding: 2% 5%;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    overflow: auto;
    color: #ccc;
}

.field-wrapper {
    display: flex;
    flex-flow: row;
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.field-wrapper label {
    min-width: 200px;
    width: 40%;
}

.create-review-text,
.create-review-dropdown,
.create-review-textarea {
    min-width: 340px;
    width: 60%;
    height: 50px;
}

.create-review-rating {
    min-width: 30%;
    height: 50px;
    margin-right: 10px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.button-section {
    display: flex;
    justify-content: center;
}

#reviewCancelBtn,
#submitReviewBtn {
    font-size: 1.5em;
    padding: 10px 30px;
    margin: 0 10px;
}

#rating-denominator {
    font-size: 2em;
}

#star {
    height: 50px;
    width: auto;
    margin-left: 20px;
}
