body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0);
    background-color: rgba(0 0 0 / 40%);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
    overflow: auto;
}

.input-group {
    display: grid;
    grid-template-columns: minmax(215px, 40%) minmax(340px, 60%);
    grid-auto-rows: min-content;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15%;
    padding-right: 15%;
}

.input-group p {
    min-width: 200px;
    text-align: left;
    margin-top: 12px;
    font-size: 1.5em;
}

textarea {
    resize: vertical;
    height: 100px;
}

.input-group input,
.input-group select,
.input-group textarea {
    font-size: 1em;
    height: 50px;
}

#rating-container {
    display: grid;
    grid-template-columns: auto auto 50px;
    grid-auto-rows: 100%;
    grid-gap: 10px;
    min-width: 350px;
}

#rating-container p {
    font-size: 3em;
    min-width: 0;
    margin: 0;
}

#star {
    height: 50px;
}

#button-section {
    display: flex;
    justify-content: center;
}

#button-section button {
    font-size: 1.5em;
    padding: 10px 30px;
    margin: 0 10px;
}
